<!-- lesuur 2 -->

<span>
    <!-- ngIf: dataItem.lesuur && dataItem.lesuur !== '0' --><span ng-if="dataItem.lesuur &amp;&amp; dataItem.lesuur !== '0'" class="nrblock ng-binding ng-scope" ng-bind="dataItem.lesuur">2</span><!-- end ngIf: dataItem.lesuur && dataItem.lesuur !== '0' -->
    <!-- ngIf: dataItem.afspraakType === 1 -->
    <!-- ngIf: dataItem.afspraakType === 16 -->           
    <!-- Is online les -->
    <!-- ngIf: ::dataItem.isOnlineDeelname -->
    <span data-ng-bind-template="mk - nyb - uv3g" class="ng-binding">mk - nyb - uv3g</span>
    <!-- ngIf: dataItem.locatie && dataItem.locatie.length && dataItem.magLocatieZien --><span data-ng-bind-template="(0-02)" data-ng-if="dataItem.locatie &amp;&amp; dataItem.locatie.length &amp;&amp; dataItem.magLocatieZien" class="ng-binding ng-scope">(0-02)</span><!-- end ngIf: dataItem.locatie && dataItem.locatie.length && dataItem.magLocatieZien -->
</span>